doctype html
html(lang='en')

    head

        meta(charset='utf-8')
        meta(name='viewport', content='width=device-width, initial-scale=1, shrink-to-fit=no')
        meta(name='description', content='')
        meta(name='author', content='')

        title CV - Resume

        link(rel='icon', type='image/x-icon', href='assets/img/favicon.ico')

        // Font Awesome icons (free version)
        script(src='https://use.fontawesome.com/releases/v5.15.1/js/all.js', crossorigin='anonymous')

        // Google fonts
        link(href='https://fonts.googleapis.com/css?family=Saira+Extra+Condensed:500,700', rel='stylesheet', type='text/css')
        link(href='https://fonts.googleapis.com/css?family=Muli:400,400i,800,800i', rel='stylesheet', type='text/css')

        // Core theme CSS (includes Bootstrap)
        link(href='css/styles.css', rel='stylesheet')

    body#page-top

        // Navigation
        nav#sideNav.navbar.navbar-expand-lg.navbar-dark.bg-primary.fixed-top
            a.navbar-brand.js-scroll-trigger(href='#page-top')
                span.d-block.d-lg-none Mikhail Mudrogelov
                span.d-none.d-lg-block
                    img.img-fluid.img-profile.rounded-circle.mx-auto.mb-2(src='assets/img/profile3.jpg', alt='')
            button.navbar-toggler(type='button', data-toggle='collapse', data-target='#navbarSupportedContent', aria-controls='navbarSupportedContent', aria-expanded='false', aria-label='Toggle navigation')
                span.navbar-toggler-icon
            #navbarSupportedContent.collapse.navbar-collapse
                ul.navbar-nav
                    li.nav-item
                        a.nav-link.js-scroll-trigger(href='#about') About
                    li.nav-item
                        a.nav-link.js-scroll-trigger(href='#experience') Experience
                    li.nav-item
                        a.nav-link.js-scroll-trigger(href='#education') Education
                    li.nav-item
                        a.nav-link.js-scroll-trigger(href='#code-examples') Code Examples
                    li.nav-item
                        a.nav-link.js-scroll-trigger(href='#skills') Skills
                    li.nav-item
                        a.nav-link.js-scroll-trigger(href='#interests') Interests
                    //- li.nav-item
                    //-     a.nav-link.js-scroll-trigger(href='#awards') Awards

        // Page Content
        .container-fluid.p-0

            // About
            section#about.resume-section
                .resume-section-content
                    h1.mb-0
                        | Mikhail 
                        span.text-primary Mudrogelov
                    .subheading.mb-5
                        | Minsk ·
                        a(href='tel:+375 (29) 907-13-17') +375 (29) 907-13-17
                        a(href='mailto:mudrogelov.beled@email.com') mudrogelov.beled@email.com
                    p.lead.mb-5
                        | I am 22 years old. My goal is to become a qualified Frontend-developer. I'm ready to constantly develop my skills and learn new things. I always aim to realize my abilities in order to gain new experience
                    .social-icons
                        a.social-icon(href='https://github.com/Chaffe')
                            i.fab.fa-github
                        a.social-icon(href='https://www.linkedin.com/in/mikhail-mudrogelov-4342011b3/')
                            i.fab.fa-linkedin-in
                        a.social-icon(href='https://t.me/chaffe01')
                            i.fab.fa-telegram
                        a.social-icon(href='viber://chat?number=%2B375299071317')
                            i.fab.fa-viber

            hr.m-0

            // Experience
            section#experience.resume-section
               .resume-section-content
                    h2.mb-5 Experience

                    .d-flex.flex-column.flex-md-row.justify-content-between.mb-5
                        .flex-grow-1
                            h3.mb-0 Junior Frontend-developer
                            .subheading.mb-3 Soft-FX
                            p
                                | Creating a Website-Layouts with responsive design. Cross Browser Testing & Debugging. Implementation of Interactive Functionality on JS. Working with Git & Gitlab-repositories. Building of Projects on Webpack. Working with CMS Ghost. Implementation of SPA with React. Development of microfrontend architecture on React and Redux
                            p.subheading.mb-3 
                                | Code Experience:
                            ul
                                li
                                    a(href="https://www.soft-fx.com/") Soft-Fx
                                li
                                    a(href="https://www.fxopen.com/en/") FxOpen
                                li
                                    a(href="https://www.forexcup.com/") ForexCup
                        .flex-shrink-0
                            span.text-primary February 2021 - Present

            hr.m-0

            // Education
            section#education.resume-section
                .resume-section-content
                    h2.mb-5 Education

                    .d-flex.flex-column.flex-md-row.justify-content-between.mb-5
                        .flex-grow-1
                            h3.mb-0 Belarusian State University of Informatics and Radioelectronics
                            .subheading.mb-3 Bachelor of Technical Science
                            div Faculty of Computer Design
                            //- p GPA: 3.23
                        .flex-shrink-0
                            span.text-primary September 2017 - Jule 2021
                    .d-flex.flex-column.flex-md-row.justify-content-between.mb-5
                        .flex-grow-1
                            h3.mb-0 The Rolling Scopes School
                            .subheading.mb-3 FrontEnd-developer
                            div JS/FrontEnd-development
                            //- p GPA: 3.23
                        .flex-shrink-0
                            span.text-primary September 2020 - February 2021
                    .d-flex.flex-column.flex-md-row.justify-content-between.mb-5
                        .flex-grow-1
                            h3.mb-0 IT-school MyFreedom
                            .subheading.mb-3 FrontEnd-developer
                            div JS - courses
                            //- p GPA: 3.23
                        .flex-shrink-0
                            span.text-primary August 2020 - October 2020
                    .d-flex.flex-column.flex-md-row.justify-content-between.mb-5
                        .flex-grow-1
                            h3.mb-0 The Rolling Scopes School (Stage 1)
                            .subheading.mb-3 FrontEnd-developer
                            div JS/FrontEnd-development
                            //- p GPA: 3.23
                        .flex-shrink-0
                            span.text-primary February 2020 - April 2020

            hr.m-0

            // Code Examples

            section#code-examples.resume-section
                .resume-section-content
                    h2.mb-5 Code Examples (Training)

                    .d-flex.flex-column.flex-md-row.justify-content-between.mb-5
                        .flex-grow-1
                            h3.mb-0 
                                a(href="https://rolling-scopes-school.github.io/chaffe-JS2020Q3/webdev/", target="_blank") Webdev
                            div Website - HTML, CSS
                    .d-flex.flex-column.flex-md-row.justify-content-between.mb-5
                        .flex-grow-1
                            h3.mb-0 
                                a(href="https://chaffe.github.io/singolo/", target="_blank") Singolo
                            div Website - HTML, CSS, JS(DOM)
                    .d-flex.flex-column.flex-md-row.justify-content-between.mb-5
                        .flex-grow-1
                            h3.mb-0 
                                a(href="https://rolling-scopes-school.github.io/chaffe-JS2020Q3/shelter/pages/main/", target="_blank") Shelter
                            div Website - HTML, CSS, JS(DOM), Adaptive(Desktop-first)

                    .d-flex.flex-column.flex-md-row.justify-content-between.mb-5
                        .flex-grow-1
                            h3.mb-0 
                                a(href="https://rolling-scopes-school.github.io/chaffe-JS2020Q3/momentum/", target="_blank") Momentum
                            div Application - HTML, CSS, JS(Functional Programming, DOM, Date, Localstorage, HTTP-Requests), Adaptive(Desktop-first)
                    .d-flex.flex-column.flex-md-row.justify-content-between.mb-5
                        .flex-grow-1
                            h3.mb-0 
                                a(href="https://rolling-scopes-school.github.io/chaffe-JS2020Q3/virtual-keyboard/", target="_blank") Virtual Keyboard
                            div Application - HTML, CSS, JS(OOP, DOM, Speech Recognition)
                    .d-flex.flex-column.flex-md-row.justify-content-between.mb-5
                        .flex-grow-1
                            h3.mb-0 
                                a(href="https://rolling-scopes-school.github.io/chaffe-JS2020Q3/gem-puzzle/", target="_blank") Gem puzzle
                            div Application - HTML, CSS, JS(Functional Programming, DOM)
            
            hr.m-0
            
            // Skills
            section#skills.resume-section
                .resume-section-content
                    h2.mb-5 Skills
                    .subheading.mb-3 Programming Languages & Tools
                    ul.list-inline.dev-icons
                        li.list-inline-item
                            i.fab.fa-html5
                        li.list-inline-item
                            i.fab.fa-css3-alt
                        li.list-inline-item
                            i.fab.fa-js-square
                        //- li.list-inline-item
                        //-     i.fab.fa-angular
                        li.list-inline-item
                            i.fab.fa-react
                        //- li.list-inline-item
                        //-     i.fab.fa-redux
                        //- li.list-inline-item
                        //-     i.fab.fa-node-js
                        li.list-inline-item
                            i.fab.fa-sass
                        //- li.list-inline-item
                        //-     i.fab.fa-less
                        //- li.list-inline-item
                        //-     i.fab.fa-wordpress
                        //- li.list-inline-item
                        //-     i.fab.fa-gulp
                        //- li.list-inline-item
                        //-     i.fab.fa-grunt
                        li.list-inline-item
                            i.fab.fa-npm
                    .subheading.mb-3 Workflow
                    ul.fa-ul.mb-0
                        li
                            span.fa-li
                                i.fas.fa-check
                            | Creating a Website-Layouts
                        li
                            span.fa-li
                                i.fas.fa-check
                            | Desktop-First, Responsive Design
                        li
                            span.fa-li
                                i.fas.fa-check
                            | Cross Browser Testing & Debugging
                        li
                            span.fa-li
                                i.fas.fa-check
                            | Implementation of Interactive Functionality on JS
                        li
                            span.fa-li
                                i.fas.fa-check
                            | Implementation of SPA with React
                        li
                            span.fa-li
                                i.fas.fa-check
                            | Usage Redux-store
                        li
                            span.fa-li
                                i.fas.fa-check
                            | Development of microfrontend architecture
                        li
                            span.fa-li
                                i.fas.fa-check
                            | Working with Git & Github/Gitlab-repositories
                        li
                            span.fa-li
                                i.fas.fa-check
                            | Building of Projects on Webpack
                        li
                            span.fa-li
                                i.fas.fa-check
                            | English: B1-Intermediate

            hr.m-0

            // Interests
            section#interests.resume-section
                .resume-section-content
                    h2.mb-5 Interests
                    p
                        | When forced indoors, I spend a large amount of my free time exploring the latest technology advancements in the front-end web development world, reading technical documentation and watching a video about programming. Also I follow a number of sci-fi and fantasy genre movies and television shows.
                    p.mb-0
                        | Apart from being a web developer, I enjoy most of my time being outdoors. I like to spend time in sports. During the warmer months here in Minsk, I enjoy biking on the streets or around lake, running around the stadium and doing exercises on the street workout ground. In the winter, I am working out in the gym.

            hr.m-0

            //- // Awards
            //- section#awards.resume-section
            //-     .resume-section-content
            //-         h2.mb-5 Awards & Certifications
            //-         ul.fa-ul.mb-0
            //-             li
            //-                 span.fa-li
            //-                     i.fas.fa-trophy.text-warning
            //-                 | Google Analytics Certified Developer
            //-             li
            //-                 span.fa-li
            //-                     i.fas.fa-trophy.text-warning
            //-                 | Mobile Web Specialist - Google Certification
            //-             li
            //-                 span.fa-li
            //-                     i.fas.fa-trophy.text-warning
            //-                 | 1
            //-                 sup st 
            //-                 | Place - University of Colorado Boulder - Emerging Tech Competition 2009
            //-             li
            //-                 span.fa-li
            //-                     i.fas.fa-trophy.text-warning
            //-                 | 1
            //-                 sup st 
            //-                 | Place - University of Colorado Boulder - Adobe Creative Jam 2008 (UI Design Category)
            //-             li
            //-                 span.fa-li
            //-                     i.fas.fa-trophy.text-warning
            //-                 | 2
            //-                 sup nd 
            //-                 | Place - University of Colorado Boulder - Emerging Tech Competition 2008
            //-             li
            //-                 span.fa-li
            //-                     i.fas.fa-trophy.text-warning
            //-                 | 1
            //-                 sup st 
            //-                 | Place - James Buchanan High School - Hackathon 2006
            //-             li
            //-                 span.fa-li
            //-                     i.fas.fa-trophy.text-warning
            //-                 | 3
            //-                 sup rd 
            //-                 | Place - James Buchanan High School - Hackathon 2005

        // Bootstrap core JS
        script(src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js')
        script(src='https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js')

        // Third party plugin JS
        script(src='https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.4.1/jquery.easing.min.js')

        // Core theme JS
        script(src='js/scripts.js')